html, body {
	height: 100%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pictures {
    display: flex;
    align-items: center;
    justify-content: space-around;
}