<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>LOGIN PAGE</title>
    </h:head>
    <h:body>
        
        <h:outputStylesheet name="css/styles.css" />
        
        <h:form>        
<!--            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />-->

            <p:panel header="Login">
                <h:panelGrid columns="3" cellpadding="5">
                    <h:outputLabel for="email" value="email" />
                    <p:inputText id="email" value="#{loginBean.email}" required="true" label="username"
                                 requiredMessage="#{msgs.emailPrompt}"/>
                    <p:message for="email" style="color:red"/>
                    <h:outputLabel for="password" value="Password:" />
                    <p:password id="password" value="#{loginBean.password}" required="true" label="password"
                               requiredMessage="#{msgs.passwordPrompt}" />
                    <p:message for="password" style="color:red"/>
                    <h:commandButton value="Login" action="#{loginBean.login()}"/>
                   
                </h:panelGrid>
            </p:panel>

        </h:form>
        
        
<!--        <h:form>
            <h:inputText value="#{loginBean.email}" />
            <h:inputText value="#{loginBean.password}" />
            <h:commandButton value="Log In" action="#{loginBean.login()}"/>

        </h:form>-->
        
    </h:body>
</html>

